__pycache__/
*.pyc
*.pyo
*.pyd

.env

venv/
.venv/

alembic/versions/__pycache__/

postgres_data/

output.wav

.idea/
.vscode/

tests/generated_audio/

storage/input_audio/
storage/output_audio/
storage/output_audio
storage/input_audio

backend/storage/input_audio/
backend/storage/output_audio/

tests/generated_audio/

backend/storage/input_audio/
backend/storage/output_audio/

*.wav